<div>
  <div class="select1">
    <label for="warningThreshold">Warning Threshold</label>
    <select class="warningThreshold">
      <option value="20">20ms</option>
      <option value="200">200ms</option>
      <optionvalue="300">300ms</option>
    </select>
  </div>
  <div class="select2">
    <label for="criticalThreshold">Critical Threshold</label>
    <select class="criticalThreshold">
      <option value="20">20ms</option>
      <option value="200">200ms</option>
      <optionvalue="300">300ms</option>
    </select>
  </div>
</div>
